:root {
  --main-clr: rgb(235, 154, 212);
  --font-clr-light: #fdf2f8;
  --font-clr-dark: #4a044e;
  --highlight-clr: #fc009f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font-clr-dark);
}

body {
  font-size: 1.8rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.icon {
  width: 20px;
  height: 20px;
}

.sidebar svg {
  fill: white;
}

button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 40px;
  background-color: var(--main-clr);
  font-weight: bold;
  color: var(--font-clr-light);
}

.profile-pic-small {
  background-image: url(/magd-unicorn-skull.jpg);
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: darkgray;
  border-radius: 50%;
  flex: none;
}

.profile-pic-medium {
  background-image: url(/magd-unicorn-skull.jpg);
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: darkgray;
  border-radius: 50%;
}

.header {
  padding: 15px 30px;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header-top-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbar {
  height: 30px;
  width: 600px;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
}

.header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top-right svg {
  flex: none;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-bottom-right {
  display: flex;
  gap: 20px;
}

.intro {
  font-weight: bold;
}

.username {
  font-weight: bold;
  font-size: 1.5em;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--main-clr);
  color: var(--font-clr-light);
  padding: 30px 65px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-weight: bold;
  font-size: 2rem;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard > h1 {
  color: var(--font-clr-dark);
}

.logo svg {
  height: 40px;
  width: 40px;
  fill: var(--font-clr-dark);
}

.sidebar-menu-1,
.sidebar-menu-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.main {
  background-color: var(--font-clr-light);
  padding: 30px;

  grid-area: main;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  gap: 40px;
  justify-content: space-between;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.main-left > h3 {
  margin-bottom: 20px;
}

.card {
  background-color: white;
  height: 250px;
  padding: 20px;
  border-left: 10px solid var(--highlight-clr);
  border-radius: 10px;

  display: grid;
}

.card-text {
  overflow: hidden;
}

.card-text > p {
  text-overflow: ellipsis;
}

.card-text > h3 {
  margin-bottom: 15px;
}

.card-icons {
  place-self: end;
  display: flex;
  gap: 20px;
}

.main-right-top > h3,
.main-right-bottom > h3 {
  margin-bottom: 20px;
}

.announcements,
.trending {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcements-item:not(:last-child) {
  border-bottom: 1px solid darkgray;
}

.announcements-item > p {
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 1.6rem;
  color: grey;
}

.main-right-bottom {
  margin-top: 50px;
}

.trending-item {
  display: flex;
  align-items: center;
}

.user {
  margin-left: 15px;
}

.user-1 {
  background-image: url(/unicorn-1.png);
  background-size: cover;
}

.user-2 {
  background-image: url(/unicorn-2.jpg);
  background-size: cover;
}

.user-3 {
  background-image: url(/unicorn-3.jpg);
  background-size: cover;
}

.user-4 {
  background-image: url(/unicorn-4.jpg);
  background-size: cover;
}

.user-text {
  font-style: italic;
}
